<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mynavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">             
          <li class="nav-item" >
            <a class="nav-link active" routerLink="/directive">Directive</a>
          </li>
  
          <li class="nav-item" >
            <a class="nav-link" routerLink="data-binding">Data-Binding</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="variables">Variables</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="template-form">Template From</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="api-call">Api Call</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="user">User</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="user-reactive">User Reactive</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="resource-api">Resource Api</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  