<p>api-call works!</p>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" (click)="getAllUsers()">Get Normal User</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="getComplainetUsers()">Get Complained User</button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let user of jsonUsers">
                {{user.username}}
            </li>
        </ul>
    </div>
    <div class="col-3">
        <ul>
            <li *ngFor="let user of jsonAllUsers">
                {{user.fullName}}
            </li>
        </ul>
    </div>
</div>
